<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Past Transactions</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body style="background-color: thistle;">
    <h1 class="booking-intro">Past Transactions</h1>
    <div align="center">
    <table>
      <tr>
        <td>Ticket number</td>
        <td>Express no</td>
        <td>Train no</td>
        <td>Departure date</td>
        <td>Depature time</td>
        <td>No. of FC seats</td>
        <td>No. of SC seats</td>
        <td>Total Cost</td>
        
      </tr>
      <% for(var i = 0;i < result.length; i++){ %>
        <tr>
          <td>
            <%= result[i]["BOOKING_ID"] %>
          </td>
          <td>
            <%= result[i]["EXPRESS_NO"] %>
          </td>
          <td>
            <%= result[i]["TRAIN_NO"] %>
          </td>
          <td>
            <%= result[i]["DEPARTURE_DATE"]%>
          </td>
          <td>
            <%= result[i]["DEPARTURE_TIME"]%>
          </td>
          <td>
            <%= result[i]["TOTAL_FC_SEATS"] %>
          </td>
          <td>
            <%= result[i]["TOTAL_SC_SEATS"] %>
          </td>
          <td>
            <%= result[i]["TOTAL_COST"] %>
          </td>
        </tr>
      <% } %>
    </table>
    </div>
    <div align="center">
        <button type="button" class="smallbut" name="button" onclick="location.href='/home'">Back to Home page</button>
    </div>
  </body>
</html>
