<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Past Transactions</title>
    <link rel="stylesheet" href="styletrain.css">
  </head>
  <body class="mainbody">
    <div class="bigdiv">
    <h1 class="booking-intro">Past Transactions</h1>
    <div align="center">
    <table class="table-center" style="width: 80%;">
      <tr>
        <th>TICKET NUMBER</th>
        <th>EXPRESS NO</th>
        <th>TRAIN NO</th>
        <th>DEPARTURE DATE</th>
        <th>DEPARTURE TIME</th>
        <th>NO. OF FC SEATS</th>
        <th>NO. OF SC SEATS</th>
        <th>TOTAL COST</th>
        
      </tr>
      <% for(var i = 0;i < result.length; i++){ %>
        <tr>
          <td>
            <%= result[i]["BOOKING_ID"] %>
          </td>
          <td>
            <%= result[i]["EXPRESS_NO"] %>
          </td>
          <td>
            <%= result[i]["TRAIN_NO"] %>
          </td>
          <td>
            <%= result[i]["DEPARTURE_DATE"]%>
          </td>
          <td>
            <%= result[i]["DEPARTURE_TIME"]%>
          </td>
          <td>
            <%= result[i]["TOTAL_FC_SEATS"] %>
          </td>
          <td>
            <%= result[i]["TOTAL_SC_SEATS"] %>
          </td>
          <td>
            <%= result[i]["TOTAL_COST"] %>
          </td>
        </tr>
      <% } %>
    </table>
    </div>
    <div align="center">
        <button type="button" class="smallbut smallbut1" name="button" onclick="location.href='/home'">Back to Home page</button>
    </div>
    </div>
  </body>
</html>
