<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Available trains</title>
    <link rel="stylesheet" href="styletrain.css">
    <script type="text/javascript">
    function select(x){
      document.getElementById("selection").value = x ;
    }
    </script>
    <style media="screen">
    .exp1:hover{
      background-color: lightgreen;
      font-weight: 800;
    }
    </style>
  </head>
  <body class="mainbody">
    <div class="bigdiv">
    <h1 class="booking-intro">EXISTING TICKETS</h1>
    <table class="table-center" style="width: 80%;">
      <tr>
        <th>TICKET NUMBER</th>
        <th>EXPRESS NO</th>
        <th>TRAIN NO</th>
        <th>DEPARTURE DATE</th>
        <th>DEPARTURE TIME</th>
        <th>NO. OF FC SEATS</th>
        <th>NO. OF SC SEATS</th>
        <th>TOTAL COST</th>
        
      </tr>
      <% for(var i = 0;i < result.length; i++){ %>
        <tr>
          <td>
            <button type="button" class="exp1" align="center" name="button" onclick="select(<%= result[i]["BOOKING_ID"] %>)">
                <%= result[i]["BOOKING_ID"] %>
            </button>
          </td>
          <td>
            <%= result[i]["EXPRESS_NO"] %>
          </td>
          <td>
            <%= result[i]["TRAIN_NO"] %>
          </td>
          <td>
            <%= result[i]["DEPARTURE_DATE"]%>
          </td>
          <td>
            <%= result[i]["DEPARTURE_TIME"]%>
          </td>
          <td>
            <%= result[i]["TOTAL_FC_SEATS"] %>
          </td>
          <td>
            <%= result[i]["TOTAL_SC_SEATS"] %>
          </td>
          <td>
            <%= result[i]["TOTAL_COST"] %>
          </td>
        </tr>
      <% } %>
    </table>
    <div align="center">
      <form class="bookingform" action="/cancel" method="post">
        <input type="text" style="text-align: center;" name="selection" id="selection" value="" placeholder="Ticket no." required onkeydown="return false;">
        <input type="submit" class="smallbut smallbut1" name="" value="Cancel ticket">
      </form>
    </div>
    <div align="center">
        <form class="bookingform" action="/home" method="get">
          <input type="submit" class="smallbut smallbut1" name="" value="Go back">
        </form>
      </div>
      </div>
    </body>
</html>